@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
}

:root {
  --bcg: #fff;
  --back: #e8e6d8;
  --back1: #dadacb;
  --shadow: rgb(206, 201, 201);
  --shadow1:rgba(0, 0, 0, 0.24);
  --nav-bcg: #c6d7e6;
  --text-color: #212020;
  --title-color: #000;
}

.dark-theme {
  --bcg: #0a011b;
  /* --bcg: #030711; */
  --back: #3e3c3c;
  --back1: #3e3c3c;
  --shadow: #000;
  --shadow1:rgba(0, 0, 0, 0.24);
  --nav-bcg: #000;
  --text-color: #d7d3d3;
  --title-color: #fff;
}

body {
  background-color: var(--bcg);
  transition: background 0.8s, color 0.8s;
}

.header {
  background-color: var(--nav-bcg);
  color: var(--title-color);
  min-height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  display: flex;
  position: absolute;
  align-items: center;
  color: var(--title-color);
  text-decoration: none;
  font-size: 30px;
  font-family: serif;
  margin: 20px;
  margin-left: 50px;
  padding: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

nav ul {
  width: 100%;
  text-align: right;
  list-style: none;
  margin-right: 50px;
  margin-left: 600px;
}

nav ul li {
  display: inline-block;
  margin: 5px 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

nav ul li a:hover {
  text-decoration: underline;
}

.toggle-btn {
  background: #4864ff;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}

.toggle-btn img {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border-radius: 30px;
}

nav img {
  position: relative;
  width: 100px;
  margin-left: 100px;
  border-radius: 5px;
}

.content {
  top: 0;
  left: 0;
  max-width: 100%;
}

.content .text{
  background-color: var(--back);
  color: var(--title-color);
  max-width: 600px;
  border-radius: 30px;
  border : 0 inset lightblue;
  box-shadow: 10px 10px 20px var(--shadow);
  margin: 100px 450px;
  transition: 0.5s;
}

.content .text:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .text h1 {
  font-size: 80px;
  font-family: serif;
  height: 150px;
  font-weight: 100;
  margin-left: 20px;
}

.content .text h2 {
  font-size: 50px;
  margin-left: 20px;
}

.content .text p {
  padding-top: 10px;
  font-size: 20px;
  margin-left: 20px;
}

.content .text ul {
  width:fit-content;
  list-style: none;
  margin: 30px 250px;
  display: flex;
  justify-content: center;
}

.content .text ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.5s;
}

.content .text ul li a:hover {
  text-decoration: underline;
  color: brown;
}

.content .social {
  position: absolute;
  left: 700px;
  top: 625px;
  max-width: 100%;
  /* margin: 30px 250px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .social a {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.content .social a ion-icon{
  color: var(--title-color);
  transform: scale(1.5);
  transition: 0.3s;
}

.content .social a ion-icon:hover{
  transform:  scale(2.5);
  transform: translateY(-15);
}

.edu{
  top: 0;
  left: 0;
  color: var(--title-color);
  max-width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: space-between; */
}

.edu h2{
  margin: 10px 0;
  height: 50px;
  font-size: 50px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edu .ug{
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.edu .ug a{
  text-decoration: none;
  width: fit-content;
  margin: 40px;
  border-radius: 20px;
  background-color: var(--back);
  border : 0px solid var(--title-color);
  box-shadow: 5px 5px 10px var(--shadow);
  color: var(--title-color);
  display: block;
  transition: 0.5s;
}

.edu .ug a:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.edu .ug a h3{
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 10px 10px;
}

.edu .ug a p{
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.edu .ug a img{
  width: 100px;
  margin: 10px 120px;
}

.project{
  left: 0;
  top: 0;
}

.project h2{
  font-weight: normal;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.project .container-pro{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.project .container-pro a{
  text-decoration: none;
  width: fit-content;
  margin: 40px;
  border-radius: 20px;
  background-color: var(--back);
  border : 0px solid var(--title-color);
  box-shadow: 0px 3px 8px var(--shadow1);
  color: var(--title-color);
  display: block;
  transition: 0.5s;
}

.project .container-pro a:hover{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: var(--back1);
}

.project .container-pro a h3{
  font-size: 20px;
  margin: 10px 20px;
}

.project .container-pro a p{
  font-size: 15px;
  margin: 5px 20px;
}

.project .container-pro a p1{
  margin: 20px;
}

.project .container-pro a span.rounded-color{
  margin: 10px 10px;
  border-radius: 50%;
  background-color: #555555; 
  color: #555555;
}

.html{
  margin-left: 20px; 
  color: #E34C26;
}
.css{
  margin-left: 20px; 
  color: #563D7C;
}
.js{
  margin-left: 20px; 
  color: #83750b
}